@import './header';
@import './normaliz';
@import './hero';
@import './kfc';
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.continer{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;


}
body{
    font-family: 'Poppins';
}
@media (max-width:1200px){
    .continer{
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    
    
    }}

@media (max-width:992px){
    .continer{
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
    
    
    }
}
@media (max-width:756px){
    .continer{
        max-width: 580px;
        width: 100%;
        margin: 0 auto;
    
    
    }
}
@media (max-width:567px){
    .continer{
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    
    
    }
}